.container {
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.img-about {
    height: 5.2rem;
}

.title-about {
    font-size: 2rem;
}

.txt-1 {
    padding-top: 0.9rem;
    text-align: left;
    font-size: 1rem;
}

.gifs {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}

.gif {
    width: 9rem;
}