.form-contact {
    padding-top: 2rem;
    padding-bottom: 3rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 55%, rgba(20, 21, 7, 1) 100%);
}

.col-sm {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.form {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.formulario {
    border: solid 1px;
    border-radius: 5px;
    margin: 3rem 1rem 3rem 1rem;
    background-color: #fff;
}

.img-form {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

/* .title {
    font-size: 1.7rem;
} */

.input,
.textarea,
.button {
    margin-top: 1.4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 10px;
    border-radius: 8px;
    border: solid 1.7px;
    height: 2.6rem;
}

.textarea {
    height: 7rem !important;
}

.button {
    background-color: #39b5aa;
    font-size: 1.1rem;
    font-weight: bold;
    height: 3rem !important;
    width: 6rem;
    padding-left: 0;
}

.button:hover {
    background-color: #cad74f;
}

.map {
    height: 20rem;
    width: 90%;
}