.dbsaude {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.title-accord {
    font-size: 1.4rem;
}

.img-logo {
    height: 9rem;
}

.text {
    padding-top: 3rem;
    text-align: justify;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
}

.text-accordion {
    text-align: justify;
    font-size: 1rem;
}