#footer {
    background-color: #141507;
    color: #fff;
}

#sect-foot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: max-content;
}

.logo-foot {
    width: 5rem;
}

h1 {
    font-size: 1.3rem;
}

#txt-foot {
    text-align: left;
    font-size: 0.9rem;
    font-style: none;
    width: 20rem;
    margin-bottom: 2rem;
}

#txt2-foot {
    width: 20rem;
    margin-bottom: 2rem;
}

#txt3-foot {
    width: 20rem;
    margin-bottom: 2rem;
}

.link-foot {
    text-decoration: none;
    color: #fff;
}

.icons-foot {
    width: 2.2rem;
    padding-right: 0.2rem;
}

.footer-end {
    height: 0.8rem !important;
    border-top: solid 1px;
}

.autor {
    color: #fff;
}