.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
}

#footer {
    background-color: #141507;
    color: #fff;
}

#sect-foot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.logo-foot {
    width: 5rem;
}

h1 {
    font-size: 1.3rem;
}

#txt-foot {
    text-align: left;
    font-size: 0.8rem;
    font-style: none;
    width: 20rem;
}

#txt2-foot {
    width: 20rem;
}

#txt3-foot {
    width: 20rem;
}

.link-foot {
    text-decoration: none;
    color: #fff;
}

.icons-foot {
    width: 2.2rem;
    padding-right: 0.2rem;
}