#footer {
    background-color: #141507;
    color: #fff;
}

.logo-foot {
    width: 5rem;
}

h1 {
    font-size: 1.3rem;
}

#txt-foot {
    text-align: left;
    padding-left: 8rem;
    font-size: 0.8rem;
    font-style: none;
}

.link-foot {
    text-decoration: none;
    color: #fff;
}

.icons-foot {
    width: 2.2rem;
    padding-right: 0.2rem;
}