.navbar {
    background-color: #fff;
    width: 100%;
    font-size: 1.2rem;
}

.logo_nav {
    margin-left: 18vw;
    width: 13rem;
}

#navbar-nav {
    padding-left: 20%;
    align-items: start;
}

#nav-item {
    padding-right: 50%;
}

.navbar-toggler {
    margin-right: 2rem;
    border: none;
}

.dropdown-item {
    background-color: #fff;
}

.dropdown-item:hover {
    background-color: #cad74f;
}