.navbar {
    background-color: #fff;
    width: 100%;
    font-size: 1.2rem;
}

.logo_nav {
    margin-left: 5rem;
    width: 14rem;
}

#navbar-nav {
    /* display: flex;
    justify-content: space-between; */
    padding-left: 25%;
}

#nav-item {
    padding-right: 50%;
}

.navbar-toggler {
    margin-right: 2rem;
    border: none;
}
