.container {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.img-about {
    height: 5.2rem;
}

.title-about {
    font-size: 1.7rem;
}

.txt-1 {
    padding-top: 0.9rem;
    text-align: left;
    font-size: 0.89rem;
}