.slide {
    height: max-content;
    width: 100%;
}

.caption {
    color: #1d3314;
    background-color: #fff;
    box-shadow: 0px 0px 70px 100px #fff;
    font-size: 150%;
}

.caption1 {
    color: #1d3314;
    font-size: 150%;
}

.img-slide {
    width: 50%;
    margin-bottom: 7%;
}